.logo {
    padding-right: 45px;
    cursor: pointer;
}

.wrapper {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding-top: 5px;
}

.logoWrapper {
    cursor: pointer;
}

.navbar {
    background-color: var(--color-primary);
    width: 100vw;
    margin: auto auto;
    height: 4.9333rem;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}