#logo {
    margin-left: 25px;
    cursor: pointer;
}

.logoWrapper {
    cursor: pointer;
}

.navbar {
    background-color: var(--color-primary);
    width: 100vw;
    margin: auto auto;
    height: 4.9333rem;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}